@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$colorprimary: #ff6633;

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 1.4;
  background: #fff;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  transition: all 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: $colorprimary;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

svg {
  fill: currentColor;
  width: 17px;
  height: 17px;
}

.bg-grey {
  background: #f8f9fa;
}

.slick-dots {
  li {
    background-color: #ccc;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s;

    button {
      &::before {
        display: none;
      }
    }
  }
}

.slick-dots .slick-active {
  background-color: $colorprimary;
}
.slick-slide img {
  margin: auto;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 0.33fr;
  grid-gap: 10px;
  padding: 10px 0;
  img {
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
  }
  .home-banner-left {
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
    .slick-dots {
      bottom: 8px;
    }

    .slick-slider,
    .slick-slider div {
      height: 100%;
    }
  }
  @media (max-width: 991px) {
    grid-template-columns: 1fr;

    .sub_banner {
      display: none;
    }
    img {
      border-radius: 4px;
    }
  }
}

header {
  background-color: $colorprimary;
  z-index: 1024;
  transition: all 0.3s;
  width: 100%;
  margin-top: 11px;
  .logo {
    img {
      transition: all 0.3s;
      width: 95px;

      @media (max-width: 991px) {
        width: 65px !important;
      }
    }
  }

  .navbar {
    padding: 0;
    transition: all 0.3s;

    @media (max-width: 991px) {
      padding: 10px 0;
    }
  }

  .navigation {
    li {
      margin: 0 12px;

      @media (max-width: 1199px) {
        margin: 0;
      }

      a {
        color: #fff;
        transition: all 0.3s;
        padding: 15px 0 11px;
        &:hover {
          opacity: 0.75;
        }
      }
      &.sale {
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 20px;
        background: rgba(0, 0, 0, 0.1);

        img {
          width: 24px;
        }
      }
    }

    .sub_nav {
      .dropdown-toggle::after {
        display: none;
      }

      ul {
        padding: 10px 20px;

        @media (max-width: 991px) {
          padding-left: 20px;
        }

        li {
          margin: 0;
          padding: 6px 0;

          a {
            font-size: 14px;
            padding: 0;
            color: #000;
            &:hover {
              color: $colorprimary;
            }
          }
        }
      }

      .dropdown-menu {
        border: none;
        min-width: 240px;
        box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
        @media (max-width: 991px) {
          display: block !important;
          background: transparent !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: none !important;
          margin-top: 0 !important;
          min-width: 100%;
        }
      }
    }
  }

  @media (max-width: 991px) {
    height: 0;
    .navigation.collapse:not(.show) {
      visibility: hidden;
      transition: all 0.25s;
      opacity: 0;
      display: inherit;
    }

    .navigation {
      background: #fff;
      width: 320px;
      position: fixed;
      height: 100%;
      left: -100%;
      top: 0;
      padding: 30px;
      transition: all 0.2s;
      z-index: 1024;
      li.sale {
        display: none;
      }
    }
  }
}

.open {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .mask {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, visibility;
  }

  .navigation {
    left: 0;
    overflow-y: auto;
    li a {
      color: #000;
      font-weight: 500;
      padding-bottom: 0;
    }
  }
}

.header-right {
  display: flex;
  .box-cart {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 6px;
    text-decoration: none;
    justify-content: center;
    transition: all 0.3s;
    position: relative;

    .number {
      position: absolute;
      border: 2px solid #fff;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      right: 0;
      top: 0;
      background: #da251d;
      font-size: 10px;
      line-height: 15px;
      color: #fff;
    }
    svg {
      color: $colorprimary;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      transition: all 0.3s;
    }
  }
  .phone {
    display: flex;
    flex-direction: row;
    margin-right: 25px;

    .content {
      display: flex;
      flex-direction: column;
      span {
        font-weight: 600;
        color: $colorprimary;
      }
    }
    .icon {
      min-width: 33px;
      height: 33px;
      background: $colorprimary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 10px;
      svg {
        color: #fff;
      }
    }
  }
  .search-mb {
    display: none;
    align-items: center;
    width: 45px;
    height: 40px;
    justify-content: center;

    svg {
      color: #fff;
    }
  }
  @media (max-width: 991px) {
    .search-mb {
      display: flex;
    }
    .phone {
      display: none;
    }
    .box-cart {
      background: transparent !important;
      font-size: 0;
      border: none;
      .number {
        background: #fff;
        color: $colorprimary;
        border-color: $colorprimary;
      }
      svg {
        color: #fff;
      }
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  transition: opacity 0.25s, visibility 0.25s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.bar_mobi {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #fff;
  padding: 5px 0;
  z-index: 1;
  box-shadow: 0px 0px 4px #ccc;
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #404040;
      svg {
        width: 22px;
        height: 22px;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #404040;
      }
      &.sale {
        font-weight: 600;
        text-transform: uppercase;
        a {
          color: $colorprimary;
          img {
            width: 22px;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    display: block !important;
  }
}

.header-section {
  padding: 11px 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1024;
  background: #fff;
  .box {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo {
    max-width: 222px;
  }
  .search-box {
    display: flex;
    flex: 1;
    position: relative;
    margin: 0 5rem;
    input {
      width: 100%;
      border: none;
      border-radius: 5px 0 0 5px;
      border: 1px solid $colorprimary;
      padding: 10px;
    }
    .btn-search {
      width: 80px;
      border-radius: 0 5px 5px 0;
      background: $colorprimary;
      padding: 0;
      line-height: 40px;
      right: 7px;
      top: 5px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
  @media (max-width: 991px) {
    background-color: $colorprimary;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    height: 55px;
    padding: 0;
    .container {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .box {
      flex-direction: column;
      position: relative;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .header-right {
      position: absolute;
      right: -8px;
      top: -7px;
    }

    .logo img {
      max-height: 20px;
      filter: brightness(0) invert(1);
      width: auto;
    }
    .search-box {
      width: 100%;
      position: absolute !important;
      top: -15px;
      left: 0;
      margin: 0 !important;
      visibility: hidden;
      padding: 8px 0;
      padding-right: 45px;
      input {
        border: none;
        background: #fff;
      }
      .btn-search {
        background: #fff !important;
        border-radius: 5px 0 0 5px;
        width: 40px;

        svg {
          color: $colorprimary;
        }
      }
    }
  }
}

.openSearch {
  overflow: hidden;
  .search-box {
    visibility: visible;
    background: $colorprimary;
    z-index: 3;
    flex-direction: row-reverse;
    height: 55px;

    input {
      border-radius: 0 5px 5px 0;
    }
  }
  .header-right .search-mb {
    background: $colorprimary;
    position: relative;
    z-index: 4;
    svg {
      display: none;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      left: 13px;
      background: #fff;
      top: 19px;
      transition: all 0.3s ease-in;
      transform: rotate(45deg);
      width: 20px;
    }

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 20px;
      left: 0;
      background: #fff;
      transition: all 0.3s ease-in;
      transform: rotate(135deg);
      bottom: 7px;
    }
  }
}

.main-body {
  margin-top: 113px;
  @media (max-width: 991px) {
    margin-top: 55px;
  }
}

.footer_main {
  .fi-title {
    margin-top: 10px;
    .collapse:not(.show) {
      display: block;
    }
    h4 {
      margin: 0px 0 10px;
      font-size: 14px;
      line-height: 1.25;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      position: relative;
      &::after {
        content: "";
        width: 50%;
        border-top: 2px solid $colorprimary;
        display: block;
        margin-top: 8px;
      }
    }
    .content {
      a {
        display: block;
        padding: 6px 0;
      }
    }
  }
  @media (max-width: 991px) {
    h4 {
      background: #000000;
      color: #fff;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin: 0px 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after {
        background: url("../images/arrowmenu.svg") center;
        content: "";
        border: none !important;
        margin: 0 !important;
        width: 20px !important;
        height: 20px;
        background-repeat: no-repeat;
      }
    }

    .fi-title .collapse:not(.show) {
      display: none;
    }
  }
}

.footer_bottom {
  background: #333;
  padding: 20px 0;
  font-size: 12px;
  color: #fff;
  @media (max-width: 991px) {
    padding-bottom: 75px;
  }
}

.footer_promotion {
  padding: 2rem 0;
  margin: 0 0 2rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .icon {
      width: 65px;
      height: 65px;
      border: 2px solid $colorprimary;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 40px;
      }
    }
    p {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .slick-dots li {
    background-color: #ccc;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s;

    button {
      &::before {
        display: none;
      }
    }
  }

  .slick-dots .slick-active {
    background-color: $colorprimary;
  }
  @media (max-width: 991px) {
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
  }
}

.section_flashsale {
  background: rgb(254, 210, 0);
  background: linear-gradient(0deg, rgba(254, 210, 0, 1) 0%, #fc3c0b 100%);
  padding: 10px 10px 4px;
  border-radius: 10px;
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .one-row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
    .flashsale__item {
      max-width: 20%;
      flex: 0 0 20%;
      padding: 5px;
      word-wrap: break-word;
    }
  }
  @media (max-width: 991px) {
    margin-bottom: 1.5rem;
    .one-row {
      overflow: auto;
      scrollbar-width: none;
      display: flex;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      .flashsale__item {
        flex: 0 0 46.333%;
        max-width: 46.333%;
      }
    }
  }
}

.product-row {
  padding-left: 15px;
  padding-right: 15px;
}
.product-col {
  border: 1px solid #eee;
  max-width: 20%;
  flex: 0 0 20%;
  @media (max-width: 991px) {
    flex: 0 33.33%;
    max-width: 33.33%;
  }
  @media (max-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.rate {
  display: flex;
  span {
    margin-right: 3px;
  }
  svg {
    color: #ffbe00;
    width: 14px;
    height: 14px;
  }
}
.item_product_main {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  .thumbnail {
    padding: 8px;
    overflow: hidden;
    display: flex;
    img {
      position: relative;
      top: 0;
      transition: all 0.3s;
    }
  }

  .title {
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden;
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    &:hover {
      color: $colorprimary;
    }
  }

  &:hover {
    .thumbnail {
      img {
        top: -15px;
      }
    }
  }
}
.heading-bar__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  line-height: 1.2;
  border-bottom: 2px solid $colorprimary;
  padding-bottom: 7px;
  text-transform: uppercase;

  .icon-filter {
    font-size: 13px;
    font-weight: 500;
    text-transform: lowercase;
    align-items: center;
    padding: 5px 12px;
    display: none;
    svg {
      margin-right: 5px;
    }
    @media (max-width: 991px) {
      display: flex;
    }
  }
}
.price-box {
  margin-top: 8px;
  .price {
    font-size: 14px;
    display: block;
    color: #ed3324;
    font-weight: 600;
  }
  .compare-price {
    color: #777;
    text-decoration: line-through;
    font-size: 13px;
    display: inline-block;
    margin-right: 3px;
  }
  .label_product {
    padding: 1px 5px !important;
    font-size: 12px;
    color: #fff;
    background: #ed3324;
    border-radius: 3px;
    font-weight: 600;
  }
}
.btn-main {
  border-radius: 20px;
  padding: 7px 20px;
  border: 1px solid $colorprimary;
  color: $colorprimary;
  transition: all 0.3s;
  &:hover {
    background: $colorprimary;
    color: #fff;
  }
  svg {
    width: 22px;
    height: 22px;
  }
}

.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-title {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  overflow: auto;
  white-space: nowrap;
  text-align: right;
  padding-bottom: 15px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px 16px;
    transition: all 0.3s;
    margin-left: 10px;
    font-size: 13px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08) !important;
    white-space: nowrap;
    &:hover,
    &.active {
      background: $colorprimary;
      color: #fff;
    }
  }
}

.news {
  background-color: #f8f9fa;
  position: relative;
  z-index: 1;
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  .news-box {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 130px 1fr;
      grid-gap: 15px;
    }
    img {
      border-radius: 10px;
    }
  }
  .content {
    .title {
      font-weight: 600;
      font-size: 15px;
    }
    .time {
      font-size: 12px;
      color: #6c757d;
    }
    .lead {
      font-size: 14px;
      line-height: 1.3;
      margin-top: 0.3rem;
      margin-bottom: 0px;
      font-weight: normal;
      word-break: break-word;
      color: #8f8f8f;
    }
  }
}

.product-list-row {
  margin: 0;
  .product-col {
    flex: 0 25%;
    max-width: 25%;
    @media (max-width: 991px) {
      flex: 0 50%;
      max-width: 50%;
    }
  }
}

.filter {
  .title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 20px;
  }
  @media (max-width: 991px) {
    background: #fff;
    width: 320px;
    position: fixed;
    height: 100%;
    right: -100%;
    top: 0;
    padding: 30px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1024;
  }
}

.openFilter {
  .filter {
    right: 0;
    overflow-y: auto;
  }
}

.sort-by {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  .small {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-right: 5px;
  }
  .tabs-title {
    margin: 0;
    text-align: left;
    width: auto;
    padding: 0;
    flex: 1;
    a {
      margin-left: 0;
      margin-right: 0;
      box-shadow: none !important;
      font-size: 14px;
      color: #898989;
      padding: 6px 10px;
      &.active,
      &:hover {
        background: #fff;
        color: $colorprimary;
      }
    }
  }

  @media (max-width: 991px) {
    .tabs-title a {
      font-size: 13px;
    }
  }
}

.openFilter .mask {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s, visibility;
  transition: opacity 0.2s, visibility;
}
.custom-checkbox {
  .form-group {
    display: block;
    margin-bottom: 15px;
  }

  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #cad1d7;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 7px;
    border-radius: 3px;
  }
  .form-group input:checked + label:before {
    background: $colorprimary;
    border: none;
  }
  .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.read-more-content {
  display: none;
}
.show-more {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #898989;
}

.breadcrumb-bg {
  background: #f8f9fa;
  padding: 0;
  margin: 0;
  .breadcrumb {
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.pagination {
  justify-content: center;

  .page-link {
    border: none;
    color: #8898aa;
    transition: all 0.3s;
    width: 34px;
    height: 34px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50% !important;
    border: 1px solid #ddd;
    margin: 0 4px;
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
    }
    &:hover {
      color: #fff;
      background: $colorprimary;
      border: none;
    }
  }

  .page-item.active .page-link {
    color: #fff;
    background: $colorprimary;
    border: none;
  }
}

.color2 {
  color: #ed3324;
}

.productDetails {
  color: #333;
  h1 {
    font-weight: 700;
    font-size: 20px;
  }
  .price-box {
    display: flex;
    align-items: center;
    .compare-price {
      font-size: 16px;
      margin: 0 12px;
    }
    .label_product {
      font-size: 14px;
      padding: 3px 8px !important;
    }
  }
  .price {
    font-size: 20px;
    font-weight: 700;
  }
  .rate {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .type {
    display: flex;
    @media (max-width: 767px) {
      align-items: flex-start;
    }

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      li {
        text-align: center;
        justify-content: center;

        transition: all 0.3s;
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0px 10px 8px 0px;
        a {
          display: block;
          width: 100%;
          padding: 5px 12px;
          color: #333;
          border-radius: 3px;
          border: 1px solid #ccc;
          &.active,
          &:hover {
            border-color: $colorprimary;
            color: $colorprimary;
          }
        }
      }
    }
  }
}

.button_actions {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.btnSecond {
  transition: all 0.3s ease;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 8px 10px;
  min-height: 54px;
  text-transform: uppercase;
  flex: 1;
  color: $colorprimary;
  border: 1px solid $colorprimary;
  background-color: transparent;
  &:hover {
    background-color: $colorprimary;
    color: #fff;
  }
}
.btnPrimary {
  transition: all 0.3s ease;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 8px 10px;
  text-transform: uppercase;
  flex: 1;
  color: #fff !important;
  min-height: 54px;
  background-color: $colorprimary;
  span {
    font-size: 13px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.product-policises {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  li {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    svg {
      color: forestgreen;
      height: 20px;
      width: 20px;
      position: relative;
      top: -2px;
    }
    .media {
      flex: 1;
      margin-left: 10px;
    }
  }
}
.btnThree {
  max-width: 160px;
  min-height: 40px;
}
.product-trustbadge {
  margin-top: 15px;
  padding-top: 15px;
  border-radius: 3px;
  .title-menu {
    margin: 0px 0px 10px;
    margin-top: 0px;
    font-weight: bold;
    font-stretch: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
}

.slider-nav {
  .slick-current img {
    border: 1px solid $colorprimary;
    border-radius: 3px;
  }
  .slide-btn {
    transition: all 0.3s;
    padding: 3px;
  }
}

.slick-arrow {
  background: rgba(255, 255, 255, 0.45) !important;
  width: 40px;
  height: 40px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-arrow:hover {
  opacity: 0.75;
}

.slick-next {
  right: 10px;
}

.slick-next::before {
  background: url("../images/arrow-r.svg");
  width: 25px;
  height: 25px;
  content: "";
  display: block;
  background-size: 100%;
  opacity: 1;
}

.slick-prev {
  left: 10px;
}

.slick-prev::before {
  background: url("../images/arrow-r.svg");
  width: 25px;
  height: 25px;
  content: "";
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-size: 100%;
  opacity: 1;
}

.quantity {
  border: 1px solid #ccc;
  border-radius: 3px;
  .minus,
  .plus {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
  }
  .quantity-input {
    border: none;
    text-align: center;
    height: 30px;
    width: 55px;
  }
}

.desciption {
  background: #fff;
  .content {
    max-width: 800px;
    margin: auto;
    padding: 16px;
    .show-more {
      justify-content: center;
      position: relative;
      &.active {
        &::before {
          display: none;
        }
      }
      &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 100%;
        height: 100px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 17%,
          #fff 93.12%
        );
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    h2 {
      border-left: 2px solid $colorprimary;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  .nav {
    justify-content: center;

    &::after {
      height: 1px;
      width: 100%;
      background: #ebebeb;
      content: "";
      display: block;
    }

    li {
      min-width: 220px;
      text-align: center;

      a {
        font-weight: 600;
        font-size: 16px;
        &::after {
          height: 2px;
          background: #fff;
          content: "";
          display: block;
          margin-top: 9px;
          position: relative;
          z-index: 2;
        }

        &.active {
          &::after {
            height: 2px;
            background: $colorprimary;
          }
        }
      }

      @media (max-width: 767px) {
        min-width: 50%;
        width: 50%;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.summary-filter {
  background-color: #fffbf8;
  min-height: 5rem;
  border: 1px solid #f9ede5;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 16px;
  .point {
    font-size: 36px;
    color: $colorprimary;
    span {
      font-size: 24px;
    }
  }
  .rate {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .product-rating-overview {
    text-align: center;
    transition: all 0.3s;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    a {
      margin: 4px;
      width: auto;
      padding: 5px 12px;
      color: #333;
      border-radius: 3px;
      background: #fff;
      border: 1px solid #ccc;
      &:hover {
        border-color: $colorprimary;
        color: $colorprimary;
      }
    }
    @media (max-width: 991px) {
      justify-content: center;
      margin-top: 20px;
    }
  }
}

.comment_box {
  background: #fff;
  padding: 0 16px 20px;
  li {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    border-bottom: 1px dashed #ccc;
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    .time {
      color: #898989;
      margin-left: 6px;
      font-size: 13px;
    }
  }
  .form-control {
    font-size: 14px;
  }
  .review-actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
    a {
      margin-right: 15px;
      font-size: 12px;
      display: flex;
      align-items: center;
      color: #898989;
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }
  .replay {
    padding: 20px 20px 0;
  }
  .send-rate {
    .rate {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.addThis_listSharing {
  position: fixed;
  bottom: 16px;
  z-index: 99;
  right: 16px;
  a {
    position: relative;
    width: 44px;
    height: 44px;
    background-color: $colorprimary;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: $colorprimary;
    margin-top: 10px;
    cursor: pointer;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  #button {
    opacity: 0;
    visibility: hidden;
  }
  @media (max-width: 991px) {
    bottom: 65px;
  }
}
